
/* Header Navigation */ 
.topnav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  width: 100%;
  top:0;
  left:10px;
  padding: 0 10px 0 10px;	
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  color: red;
}

.topnav-right {
  float: right;
}

/* Content Setting */
body {
	background-color: black;
}

h1   {
	color: yellow; 
	font-family: arialbold; 
	font-size: 130%;
}

h2   {
	color: red; 
	font-family: arialbold; 
	font-size: 120%;
}
p    {
	color: white; 
	font-family: courier; 
	font-size: 110%;
}


/* End Content Setting */

/* HyperLink Style */
a:link {
        text-decoration: none;
}
a:visited {
        text-decoration: none;
}
a:hover {
        text-decoration: none;
}
a:active {
        text-decoration: none;
}

/* End HyperLink Style */


.responsiveindex {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 60%;
	height: auto;
}

.responsive {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 35%;
	height: auto;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 10px;
}

#indexgrid {
    border-radius: 25px;
    background: white;
    padding: 5%; 
    width: 90%%;
    height: 5%;
	font-size: 4vw;
	font-weight: bold;
}
